'.source.enc':
  'bundle':
    'prefix': 'bundle'
    'body': 'bundle $1 where'
  'class':
    'prefix': 'cl'
    'body': 'class: ${1:Main}\n\t$0'
  'if':
    'prefix': 'if'
    'body': 'if ${1:x==0}\nthen\n\t$2\nelse\n\t$0'
  'lambda function':
    'prefix': '\\'
    'body': '\\\\ ($1) -> ${2:{${3:}\\}}$0'
  'let':
    'prefix': 'let'
    'body': 'let ${1:x} = ${2} in\n\t$0'
  'match':
    'prefix': 'match'
    'body': 'match $1 with\n\t${2:default} => $3\n$0'
  'method':
    'prefix': 'def'
    'body': 'def ${1:main}($2) : ${3:void}\n\t$0'
  'passive class':
    'prefix': 'passive'
    'body': 'passive class: ${1:Main}\n\t$0'
  'print':
    'prefix': 'print'
    'body': 'print("$1"${2:, $3})$0'
  'script header':
    'prefix': '#!'
    'body': '#! /usr/bin/env encorec -run$0'
  'trait':
    'prefix': 'trait'
    'body': 'trait $1 {\n\t$2\n}$0'
  'while':
    'prefix': 'wh'
    'body': 'while ${1:i > 0}\n\t$0'
