'.source.enc':
  'class':
    'prefix': 'cl'
    'body': 'class: ${1:Main}\n\t$0'
  'def':
    'prefix': 'def'
    'body': 'def ${1:main}($2) : ${3:void}\n\t$0'
  'if':
    'prefix': 'if'
    'body': 'if ${1:x==0}\nthen\n\t$2\nelse\n\t$0'
  'let':
    'prefix': 'let'
    'body': 'let ${1:x} = ${2} in\n\t$0'
  'while':
    'prefix': 'wh'
    'body': 'while ${1:i > 0}\n\t$0'
