'scopeName': 'source.enc'
'fileTypes': [
  'enc'
]
'name': 'Encore'
'foldingStartMarker': '{\\s*$'
'foldingStopMarker': '}\\s*$'
'patterns' : [
  {
    'comment': 'Line comments'
    'begin': '--'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.comment.enc'
    'end': '$'
    'name': 'comment.line.double-dash.enc'
  }

  {
    'comment': 'Built-in functions'
    'match': '\\b(print|get|await|async)\\b(?=\\()'
    'name': 'support.function.builtin.enc'
  }
  {
    'comment': 'Function declarations'
    'match': '(\\bdef\\b)(?:\\s+([a-zA-Z_]\\w*)(?=\\())?'
    'captures':
      '1':
        'name': 'keyword.define.enc'
      '2':
        'name': 'entity.name.function'
  }
  {
    'comment': 'Function call'
    'match': '([a-zA-Z_]\\w*)(?=\\()'
    'captures':
      '1':
        'name': 'support.function.enc'
  }
  {
    'comment': 'Interpreted string literals'
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.enc'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.enc'
    'name': 'string.quoted.double.enc'
    'patterns': [
      {
        'include': '#string_escaped_char'
      }
      {
        'include': '#string_placeholder'
      }
    ]
  }
  {
    'comment': 'Floating-point literals'
    'match': '(\\.\\d+([Ee][\-\+]\\d+)?i?)\\b|\\b\\d+\\.\\d*(([Ee][\-\+]\\d+)?i?\\b)?'
    'name': 'constant.numeric.floating-point.enc'
  }
  {
    'comment': 'Integers'
    'match': '\\b((0x[0-9a-fA-F]+)|(0[0-7]+i?)|(\\d+([Ee]\\d+)?i?)|(\\d+[Ee][\-\+]\\d+i?))\\b'
    'name': 'constant.numeric.integer.enc'
  }

  {
    'comment': 'Language constants'
    'match': '\\b(true|false|null)\\b'
    'name': 'constant.language.enc'
  }

  {
    'comment': 'Bundle declarations'
    'match': '(?<=bundle)\\s+([a-zA-Z_]\\w*)\\s+(?=where)'
    'captures':
      '1':
        'name': 'entity.name.package.enc'
  }

  {
    'comment': 'Terminators'
    'match': ';'
    'name': 'punctuation.terminator.enc'
  }

  {
    'include': '#keywords'
  }
  {
    'include': '#storage_types'
  }
]

'repository' :
  'string_escaped_char':
    'patterns': [
      {
        'match': '\\\\([0-7]{3}|[abfnrtv\\\\\'"]|x[0-9a-fA-F]{2}|u[0-9a-fA-F]{4}|U[0-9a-fA-F]{8})'
        'name': 'constant.character.escape.enc'
      }
      {
        'match': '\\\\[^0-7xuUabfnrtv\\\'"]'
        'name': 'invalid.illegal.unknown-escape.enc'
      }
    ]
  'string_placeholder':
    'patterns': [
      {
        'match': '%(\\[\\d+\\])?([\\+#\\-0\\x20]{,2}((\\d+|\\*)?(\\.?(\\d+|\\*|(\\[\\d+\\])\\*?)?(\\[\\d+\\])?)?))?[vT%tbcdoqxXUbeEfFgGsp]'
        'name': 'constant.other.placeholder.enc'
      }
    ]
  'keywords':
    'patterns': [
      {
        'comment': 'Flow control keywords'
        'match': '\\b(if|then|else|unless|while)\\b'
        'name': 'keyword.control.enc'
      }
      {
        'match': '\\bbundle\\b'
        'name': 'keyword.bundle.enc'
      }
      {
        'match': '\\bwhere\\b'
        'name': 'keyword.where.enc'
      }
      {
        'match': '\\bpassive\\b'
        'name': 'keyword.passive.enc'
      }
      {
        'match': '\\bdef\\b'
        'name': 'keyword.define.enc'
      }
      {
        'match': '\\bimport\\b'
        'name': 'keyword.import.enc'
      }
      {
        'match': '\\bqualified\\b'
        'name': 'keyword.qualified.enc'
      }
      {
        'match': '\\bas\\b'
        'name': 'keyword.as.enc'
      }
      {
        'match': '\\bembed\\b'
        'name': 'keyword.embed.enc'
      }
      {
        'match': '\\bend\\b'
        'name': 'keyword.end.enc'
      }
      {
        'match': '\\blet\\b'
        'name': 'keyword.let.enc'
      }
      {
        'match': '\\bin\\b'
        'name': 'keyword.in.enc'
      }

      {
        'match': '\\basync\\b'
        'name': 'keyword.async.enc'
      }

      {
        'match': '\\bsuspend\\b'
        'name': 'keyword.suspend.enc'
      }
    ]
  'storage_types':
    'patterns': [
      {
        'comment': 'Storage types'
        'match': '\\b(class|bool|char|real|int|uint|string|void)\\b'
        'name': 'storage.type.enc'
      }
    ]
