'.source.enc':
  'editor':
    'commentStart': '-- '
    'increaseIndentPattern': '^.*((\\b(def|if|else|repeat|while|let|class)\\b.*|\\w)|\\{[^}]*|\\([^)]*|^.*\\=\\s*$)$'
    'decreaseIndentPattern': '^\\s*(\\}|\\))'
